body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #E0E5E5;
  color: #111;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 40px auto;
}

.menu {
  width: 200px;
  padding-right: 40px;
}

.menu h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li.separador {
  margin-top: 25px;
}

.menu a {
  text-decoration: underline;
  color: #0000ee;
}

.sublista {
  list-style: none;
  padding-left: 0;
}

.sublista li {
  margin-bottom: 8px;
}

.sublista a {
  font-style: italic;
  font-size: 14px;
}

.submenu {
  margin-left: 15px;
  margin-bottom: 15px;
}

.submenu a {
  font-size: 13px;
  font-style: italic;
}

.conteudo {
  max-width: 600px;
}

.conteudo h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.conteudo p {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 20px;
  }

  .menu {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
